<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cube.wri.rm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps"/>

    <!-- react-native-image-picker -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- react-native-firebase notifications -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
      android:name="com.cube.wri.rm.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name="com.cube.wri.rm.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize"
		android:launchMode="singleTask">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:path="/verify" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:path="/invite" />
			<data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:path="/passwordReset" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/funding" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/projects" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/profile" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/profile/funding" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/profile/projects" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/connections" />
            <data android:scheme="https" android:host="@string/WRI_SITE_DOMAIN" android:pathPrefix="/organization" />
        </intent-filter>

      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <!-- https://rnfirebase.io/docs/v5.x.x/messaging/android -->
      <service android:name="io.invertase.firebase.messaging.RNFirebaseMessagingService">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>
      <service android:name="io.invertase.firebase.messaging.RNFirebaseBackgroundMessagingService" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_notification"
        />

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@android:color/white"
        />

      <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/NOTIFICATION_CHANNEL_DEFAULT_ID"
        />
	  <provider
		android:name="com.vinzscam.reactnativefileviewer.FileProvider"
		android:authorities="${applicationId}.provider"
		android:exported="false"
		android:grantUriPermissions="true">
		<meta-data
			android:name="android.support.FILE_PROVIDER_PATHS"
			android:resource="@xml/file_viewer_provider_paths"
		/>
	   </provider>
    </application>

</manifest>
